/*

* {
    outline: 1px solid rgba(255, 255, 255, 0.5) !important;
    background-color: #fff !important;
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.5) !important;
  }
  
  *:hover {
    outline: 1px solid rgba(0, 128, 255, 0.7) !important;
    background-color: #fff !important;
    box-shadow: 0 0 2px 1px rgba(0, 128, 255, 0.7) !important;
  }
  
  *:active {
    outline: 1px solid rgba(255, 165, 0, 0.9) !important;
    background-color: #fff !important;
    box-shadow: 0 0 2px 1px rgba(255, 165, 0, 0.9) !important;
  }
  
  ::selection {
    background-color: rgba(33, 150, 243, 0.7) !important;
  }
  
  *:not(html):not(body):not(.container) {
    border-color: rgba(155, 89, 182, 0.7) !important;
  }
  
  .container {
    outline: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
*/

.navigation {
    margin: 1em;
    width: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    height: 70px;
}
.logoDiv{
    flex-grow: 2;
}
.conectBtnDiv{
    display: flex;
    justify-content: center;
    flex-grow: 2;
}
.logoA{
    display: flex;
    justify-content: center;
}
.links12345div{
    display: flex;
}
.link1div, .link2div, .link3div, .link4div, .link5div{
    display: flex;
    flex-grow: 0.5;
    margin: 5px;
}
.sortCateg{
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    padding-top: 25px;
}
.main{
    padding-top: 3%;
    padding-left: 5%;   
    padding-right: 5%;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.menu{
    width: 20%;
    margin: 10px;
}
.products{
    width: 80%;
    margin: 5px;
}
.categMenuHide{
    display: none; /*hiden menu*/
}
.priceMenuHide{
    display: none; /*hiden menu*/
}
.topRow button{
    border: none;
    background-color: white;
}
.topRow{
    margin: 10px;
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
.menu2{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
}
.sortCateg{
    display: flex;
    justify-content: space-between;
    margin: 1em;
}
.categ{
    display: flex;
    flex-direction: column;
}
.categMenu{
    margin: 5px;
}
.price{
    display: flex;
    flex-direction: column;
}
.priceMenu2{
    display: flex;
    justify-content: space-between;
}
#theLine{
    width: 100%;
    height: 5px;
    margin: 50px;
}
.topRowPrice{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.toprow2Price{
    display: flex;
    justify-content: space-between;
}

/* FOR TEST */
.products{
    display:grid;
    background-color: red;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.product1, .product2, .product3, .product4, .product5, .product6{
    background-color: blue;
    display: flex;
}

.logoDiv{
    height: 25px;
    width: 100px;
}
.link1div, .link2div, .link3div, .link4div, .link5div{
    width: 180px;
    justify-content: center;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navigation a{
    color: black;
    text-decoration: none;
}
.conectBtn{
    background-color: rgb(164, 85, 238);
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    font-weight: bold;
}
.leftSortDiv span{
    font-family: sans-serif;
    font-weight: bold;
}
.rightSortDiv{
    font-family: sans-serif;
    color: rgb(148, 146, 146);
}
.rightSortDiv select {
    border: none;
    color: rgb(164, 85, 238);
}

#theline{
    width: 100%;
    margin: 40px;
}
.theLineSpan{
    position: absolute;
    left: 5%;
    right: 5%;
    border-top: 1px solid rgb(148, 146, 146);
}
.boxForMenu{
    border: solid 1px rgb(148, 146, 146);
    border-radius: 20px;
    padding: 10px;
    font-family: sans-serif;
    color: black;
}
.boxForMenu a{
    font-family: sans-serif;
    color: 0;
    font-weight: none;
    color: black;
    text-decoration: none;
}
.boxForMenu a:hover{
    font-family: sans-serif;
    color: 0;
    font-weight: bold;
    color: rgb(164, 85, 238);
    text-decoration: none;
}
#categBtn {
    font-size: x-large;
}
#categBtn :focus{
   border: none;
}

#priceButton {
    border: none;
    background-color: white;
    font-family: sans-serif;
    font-size: x-large;
}
#priceButton :focus{
   border: none;
}
